<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <img src="https://img.icons8.com/doodle/48/000000/hamburger.png"/>
            <a class="navbar-brand text-white fs-4 brandName" href="http://localhost:17185">Food Hup</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                     <div class="d-flex flex-row justify-content-between mx-auto my-auto ">
                        <img class="me-lg-2 my-auto" style="width:30px;height:30px" src="https://img.icons8.com/doodle/48/000000/facebook-new.png"/>
                        <a class="nav-link text-white fs-4" href="https://www.facebook.com/" target="_blank">FaceBook</a>
                        <img class="mx-lg-2 my-auto" style="width:30px;height:30px" src="https://img.icons8.com/doodle/48/000000/twitter-circled.png"/>
                        <a class="nav-link text-white fs-4" href="https://www.twitter.com/" target="_blank">Twitter</a>
                        <img class="mx-lg-2 my-auto" style="width:30px;height:30px" src="https://img.icons8.com/doodle/48/000000/youtube-play--v2.png"/>
                        <a class="nav-link text-white fs-4" href="https://www.youtube.com/" target="_blank">YouTube</a>
                    </div>
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active" aria-current="page" href="#">
                        <i class="bi bi-house p-2 fs-5 text-white"></i>
                    </a>
                    <a class="nav-link text-white fs-5" href="#">Recipes</a>
                    <a class="nav-link text-white fs-5" href="#">Diet Recipes</a>
                    <a class="nav-link text-white fs-5" href="#">Deserts</a>
                </div>
            </div>
        </div>
    </nav>
    <!--Header-->
    <header class="masthead mb-3">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 d-flex align-items-center justify-content-center text-center">
                <div class="col-lg-8" style="margin-top: 10rem;">
                    <h2 class="line-1 anim-typewriter fw-bolder text-white my-auto">It is even better than an expensive cookery book</h2>
                    <hr class="divider" />
                    <form class="d-flex">
                        <input class="form-control me-2 " type="search" placeholder="Search " aria-label="Search " id="search ">
                        <button class="btn btn-danger" type="submit"><i class="bi bi-search text-white "></i></button>
                    </form>
                    <button class="btn btn-danger mt-5">
                        <a style="text-decoration:none;" class="text-white fs-3" asp-action="Index" asp-controller="MainDishes"> Main Dishes</a>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        @RenderBody();
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js " integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4 " crossorigin="anonymous"></script>
</body>

</html>